In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import joblib

In [4]:
df = pd.read_csv("homeprices.csv")
df.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [5]:
model = linear_model.LinearRegression()
model.fit(df[['area']] , df.price)

LinearRegression()

In [7]:
model.predict([[5000]])

array([859554.79452055])

In [11]:
joblib.dump(model, 'model_joblib') #saving model named model_joblib

['model_joblib']

In [12]:
loaded_model = joblib.load('model_joblib') #loading the save model

In [10]:
loaded_model.predict([[5000]])

array([859554.79452055])

In [13]:
loaded_model.coef_

array([135.78767123])

In [14]:
loaded_model.intercept_

180616.43835616432

In [16]:
x_test = pd.read_csv('areas.csv')
x_test.head()

   area
0  1000
1  1500
2  2300
3  3540
4  4120

In [17]:
loaded_model.predict(x_test)

array([ 316404.10958904,  384297.94520548,  492928.08219178,
        661304.79452055,  740061.64383562,  799808.21917808,
        926090.75342466,  650441.78082192,  825607.87671233,
        492928.08219178, 1402705.47945205, 1348390.4109589 ,
       1144708.90410959])